body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial Black';
}

.countdown-container {
    text-align: center;
}

.row {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: 15px;
    border-bottom: 8px solid #288d87;
    width: 350px;
    margin: 0 auto;
}


.row:last-child {
    border-bottom: none;
}

.row:first-child {
    border-top: 8px solid #288d87;
    margin-top: 20px;
}