* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.big-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    z-index: 10;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.btn-login {
    color: white;
    text-decoration: none;
    background: rgba(38, 166, 128, 0.7);
    padding: 10px 25px;
    border-radius: 20px;
    margin-right: 15px;
}

.btn-signup {
    background: white;
    color: #2d7555;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
}

.center {
    text-align: center;
    margin-top: 60px;
    z-index: 10;
    font-size: larger;
}


.hero-cta {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.btn-primary {
    background: #26a680;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    cursor: pointer;
}

.btn-secondary {
    background: white;
    color: #26a680;
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
    cursor: pointer;
}

.stats-container {
    position: absolute;
    bottom: 40px;
    background: white;
    width: 85%;
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    border-radius: 15px;
    color: #333;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);

}

.stat-item h2 {
    color: #2d7555;
    font-size: 35px;
}

.stat-item p {
    color: #888;
    font-size: 13px;
}

.divider {
    width: 1px;
    height: 50px;
    background: #eee;
}

.span-green {
    color: #2DA884;
}

.page-space {
    padding: 100px 90px;
}

h2 {
    font-size: 45px;
    word-spacing: 5px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #232A42;
}

p {
    padding-top: 15px;
    color: #525252;
}

.par-1 {
    padding-top: 15px;
    color: #525252;
    text-align: justify;
    width: 650px;
}

.par {
    padding-top: 15px;
    color: #525252;
    text-align: justify;
    width: 450px;
}



.tables {

    background-color: white;
    padding: 20px;
    margin: 70px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

}

.img-2 {

    top: 376px;
    left: 746px;
    position: relative;
    left: 55%;
    top: -675px;
}

.img-3 {
    padding: 0% 8%;
}

.page-3 {
    padding: 10px;
    background-color: white;
    width: 700px;
    height: 520px;
    margin: 70px;
    position: relative;
    right: -45%;
    top: -660px;
}

.icon {
    background-color: #2DA884;
    border-radius: 15px;
    margin: 30px;
    display: inline;
    width: 50px;

}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-up {
    position: relative;
    top: -400px;
}

h4 {
    color: black;
    padding-top: 20px;
}

.boxs {
    background-color: white;
    width: 388px;
    height: 230px;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    left: 150px;
    bottom: 45 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.imag-4 {
    position: relative;
    padding: 20px 40px;
    border-radius: 60px;
}

.imag-5 {
    position: relative;
    width: 169px;
    height: 238px;
    border-radius: 10px;
    top: -281px;
}

.imag-6 {
    position: relative;
    width: 169px;
    height: 238px;
    border-radius: 10px;
    top: -281px;
    right: -90px;
}

.imag-21 {
    position: relative;
    width: 448px;
    height: 228px;
    border-radius: 15px;
    right: 360px;
    bottom: 19px;
}

.imag-7 {
    position: relative;
    padding: 20px 40px;
    border-radius: 60px;
    width: 347px;
    height: 526px;
    bottom: 520px;
    left: 1000px;
}

.per1 {
    position: relative;
    width: 80px;
    height: 80px;
    left: 70px;
    top: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.per2 {
    position: relative;
    width: 80px;
    height: 80px;
    left: 55%;
    bottom: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.per3 {
    position: relative;
    width: 80px;
    height: 80px;
    left: 70px;
    bottom: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.per4 {
    position: relative;
    width: 80px;
    height: 80px;
    left: 55%;
    bottom: 520px;
    border-radius: 50%;
    object-fit: cover;
}


.per-container {
    background-color: #2DA884;
    padding: 20px 40px;
    margin: 10px;
    width: 558px;
    height: 223px;
    border-radius: 15px;
    position: relative;
    left: 142px;
    bottom: 25px;
    overflow: hidden;
}

.per-container-2 {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 20px 40px;
    margin: 10px;
    width: 558px;
    height: 223px;
    border-radius: 15px;
    position: relative;
    left: 60%;
    bottom: 360px;
    overflow: hidden;
}

.per-container-3 {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 20px 40px;
    margin: 10px;
    width: 558px;
    height: 223px;
    border-radius: 15px;
    position: relative;
    left: 142px;
    bottom: 350px;
    overflow: hidden;
}

.per-container-4 {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 20px 40px;
    margin: 10px;
    width: 558px;
    height: 223px;
    border-radius: 15px;
    position: relative;
    left: 60%;
    bottom: 680px;
    overflow: hidden;
}

.page-space-down {
    position: relative;
    top: 350px;
}