* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(5, 5, 40);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #FFFFFF;
    color: black;
}

.text {
    text-align: center;
    color: #FFFFFF;
    padding: 30px;
}

h2 {
    font-size: 50px;
    margin-bottom: 30px;

}

.text p {
    font-size: 18px;
    max-width: 350px;
    margin: 0 auto;
    line-height: 1.6;
}

.cards-wrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.card-container {
    perspective: 1000px;
}


.card {
    width: 300px;
    height: 420px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;
}


.card-container:hover .card {
    transform: rotateY(180deg);
}


.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 15px;
    padding: 20px;
    backface-visibility: hidden;
}

.card-back {
    position: relative;
    overflow: hidden;

}

.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


.card-back {

    transform: rotateY(180deg);
}

.card-front img {
    width: 90%;
    display: block;
    margin: 20px auto;
    transform: rotate(-15deg) skewX(-5deg);
    transition: 0.5s;
}

.card-container:hover .card-front img {
    transform: rotate(0) skewX(0) scale(1.1);
}

.sizes span {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background: #ddd;
    border-radius: 8px;
}

.sizes .active {
    background: #00aaff;
    color: white;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #00aaff;
    border: none;
    border-radius: 10px;
    color: white;
}

.price {
    color: #28B5E1;
    padding-top: 20px;
}